* {
  margin:0px;
  padding:10px;
}

#octocat {
  display: inline-block;
  width:400px;
  margin: 20px auto;
}

p {
  display: inline-block;
  width: 700px;
  margin: 900px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
